* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

main {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.container-img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-img img {
  width: 450px;
}

.container-login {
  margin: 70px auto;
}

.header-login {
  margin-bottom: 20px;
}

.input-login p {
  margin-top: 10px;
  font-size: 15px;
  font-weight: bold;
}

.input {
  width: 300px;
  height: 28px;
  margin: 5px 0;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #e8e8e8;
  outline: none;
  background-color: #f7fafc;
}

.opcoes {
  margin: 20px 0;
  display: flex;
  gap: 20px;
  cursor: pointer;
}

.opcoes p {
  font-size: 14px;
}

.recuperar-senha {
  color: #1e9e6a;
}

.recuperar-senha:hover {
  transition: 1s ease-in-out;
  transform: scale(1.1);
}

.botoes {
  display: flex;
  flex-direction: column;
}

.botao {
  margin: 10px 0;
  width: 300px;
  height: 40px;
  text-align: center;
  font-size: 15px;
  border-radius: 3px;
  border: none;
  outline: none;
  cursor: pointer;
}

.botao-entrar {
  font-weight: bold;
  background-color: #1e9e6a;
  color: #ffffff;
}
.botao-google {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background-color: black;
  color: #ffffff;
}
.botao-google img {
  width: 18px;
}

footer{
  margin-top: 15px;
  font-size: 15px;
  text-align: center;
}

footer span{
  cursor: pointer;
  font-weight: bold;
  color: #1e9e6a;
}